/* Index Sytling  */

body { padding-top: 70px;
  padding-bottom: 70px;  }

.navbar-brand{ background: rgb(45, 118, 167);
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  }
.nav-link { color: grey}


/* Plots Styling */

