body {background-color: gray;}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
    background: white;
    /* margin-left:50px !important; */
  }

  .navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5 px;
    background-color: purple;
    color: red ;
    margin-left:30px !important;
  }

  .navbar-nav li a{
    color: green;
  }

  .dropdown-menu {
  background-color:teal;
  color: red; }

  .box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
  }

  .empty {
    background: gray;
    color: purple;
  }

  .main {
    background: white;
    color: black;
    border: black;

  }

  h1 { color: teal;
  margin-left:20px !important;
  margin-right: 20px !important;}

  h1:after {
  content:' ';
  display:block;
  border:1px solid black;
  }

  h2 { color: teal;
  margin-left:20px !important;
  margin-right: 20px !important;}

  h2:after {
  content:' ';
  display:block;
  border:1px solid black;
  }

  p.index_first {
    text-indent: 5em;
    color: blue;
    margin: 10px;
  }
  p.index_second {
    text-indent: 5em;
    margin: 10px;
  }

  .pull-left>img {max-width: 200px;
	height:auto;
  float: left;
  }

  p.data_first {
    color: blue;
    margin-left: 20px;
  }
